<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frontJump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{76,62}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{76,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>frontJump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,188},{60,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{60,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>frontJump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{74,68}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>frontJump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,188},{60,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{60,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftJump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,186},{54,62}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{54,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftJump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,194},{54,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{54,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftJump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,184},{54,66}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{54,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftJump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,114},{56,68}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{56,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftMove01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,132},{54,72}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{54,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftMove02.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,58},{54,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{54,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftMove03.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,130},{54,72}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{54,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftMove04.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,58},{54,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{54,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftdying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{72,74}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{72,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftdying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{64,74}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{64,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftdying03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,188},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftdying04.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,186},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftdying05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,186},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftdying06.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,126},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftdying07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,132},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftdying08.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,64},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftpush01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{66,72}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{66,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftpush02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,72},{66,76}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{66,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftpush03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{66,72}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{66,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>leftpush04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,72},{66,76}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{66,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightJump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,70},{54,62}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{54,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightJump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,134},{54,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{54,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightJump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,146},{54,66}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{54,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightJump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,114},{56,70}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{56,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightMove01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,130},{54,72}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{54,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightMove02.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{54,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{54,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightMove03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,72},{54,72}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{54,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightMove04.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{54,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{54,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightdying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,74}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{72,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightdying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{64,74}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{64,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightdying03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,70},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightdying04.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,70},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightdying05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,68},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightdying06.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,68},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightdying07.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightdying08.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{72,60}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{72,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightpush01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{66,72}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{66,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightpush02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{66,76}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{66,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightpush03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{66,72}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{66,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>rightpush04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{66,76}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{66,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>stand01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,150},{66,64}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{66,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Actor.pvr.ccz</string>
            <key>size</key>
            <string>{756,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72deca63473601ef3769d6c9a8b5cbbb$</string>
            <key>textureFileName</key>
            <string>Actor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
